@font-face {
	font-family: 'YandexSansText Regular';
	src: url('YandexSansText-Regular.eot');
	src: url('YandexSansText-Regular.eot?#iefix') format('embedded-opentype'),
		url('YandexSansText-Regular.woff') format('woff'),
		url('YandexSansText-Regular.ttf') format('truetype');
}